@model IEnumerable<ActivityManagement.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-group">
    @Html.ActionLink(
             "Create a new Course",
             "Create",
             "Courses",
             null,
             new { @class = "btn btn-primary" }
             )
</div>


<div class="row">

    @foreach (var course in Model)
    {
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active">Course: @course.Name</li>
                <li class="list-group-item">
                    @Html.ActionLink(
                        "Details",
                        "Details",
                        "Courses",
                        new { id = course.Id },
                        new { @class = "btn btn-primary" }
                        )
                    @Html.ActionLink(
                        "Edit",
                        "Edit",
                        "Courses",
                        new { id = course.Id },
                        new { @class = "btn btn-default" }
                        )
                    @Html.ActionLink(
                       "Delete",
                       "Delete",
                       "Courses",
                       new { id = course.Id },
                       new { @class = "btn btn-danger" }
                       )
                </li>
                <li class="list-group-item">
                    @Html.ActionLink(
                        "See Members in Course",
                        "Members",
                        "Courses",
                        new { id = course.Id },
                        new { @class = "btn btn-success" })
                    @Html.ActionLink(
                     "Add Members",
                     "AddMembers",
                     "Courses",
                     new { id = course.Id },
                     new { @class = "btn btn-primary" }
                     )
                </li>

            </ul>
        </div>
    }
</div>